

header{
    max-width: 100%;
    height: 700px;
    background-image: url(../img/bg-hero-desktop.svg);
    /* display: flex; */
}

.header-1{
    display: flex;
    max-width: 1349px;
    height: 43px;
    justify-content: space-between;
    padding: 60px 90px;
}

.box-logo-header{
    display: flex;
    width: 240px;
    height:39px;

} 

.logo-header{
    width: 100%;
}

.bt-try-free{
    width: 180px;
    height: 43px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 22px; 
    box-shadow: 0px -50px 180px calc(0.1px / 100 * 10);  
}

/* .header-2{
    width: 100%;
} */